.ui {
  background-color: rgb(204, 202, 202);
  margin-top: 290px !important;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.reminder {
  text-align: center;
  font-size: 22px !important;
  color: red !important;
  font-weight: 700;
}

.confirm {
  color: rgb(102, 102, 102);
  font-size: 19px !important;
  font-weight: 700;
}

.btn {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
