.heading {
  margin-top: 5px;
  background-color: rgb(243, 243, 243);
  box-shadow: 0px 1px 10px rgb(223, 223, 223);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.heading h2 {
  margin: 0;
  color: rgb(58, 58, 139);
}

.heading h3 {
  padding-left: 10px;
  color: rgb(58, 58, 139);
}

h2 {
  color: rgb(58, 58, 139);
}

h1 {
  color: rgb(58, 58, 139);
  text-decoration: underline;
}
.guideline {
  width: 100%;
  display: flex;
  gap: 10px;
}

.left {
  width: 60%;
}
.right {
  width: 40%;
  margin-top: 50px;
}

.right img {
  height: 450px;
  width: 550px;
}

.rules {
  text-align: initial;
  padding: 40px;
}

.rules h4 {
  color: rgb(58, 58, 139);
}

.terms {
  display: flex;
  margin-top: 55px;
}

.terms p {
  font-size: 15px;
  color: grey;
}

.term_condition {
  cursor: pointer;
}
