.countdown {
  color: red;
  animation: blink 1s step-start infinite;
}

.timer {
  display: flex;
  justify-content: end;
}

.timer p {
  margin: 10px 0;
}

.end {
  color: red;
}

@keyframes blink {
  10% {
    opacity: 0;
  }
}
